.navbar-brand {
  font-family: "Staatliches", cursive;
}

.footer-link {
  text-decoration: none;
  color: #000;
}
.footer-header {
  border-bottom: 3px solid;
  height: 35px;
}

.footer-link:hover {
  color: #000;
}
